<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
			</li>
			{# <li class="nav-item">
				<a class="nav-link" href="{{ path('app_') }}">Géstion de favoris</a>
			</li> #}
			{# <li class="nav-item">
				<a class="nav-link" href="{{ path('app_') }}">Géstion de compte</a>
			</li> #}
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
			</li>
		</ul>
	</div>
</nav>